<!DOCTYPE html>
<html>
  <head>
    <title>Coletive.se</title>

  </head>
  <body>
    <div id="top-bar" />
    <div id="main" class="wrapper">
	  <div id="content">
		<div id="logo">
			<a href="/">
				<img src="assets/logo.png" alt="Logo">
			</a>
		</div>
		<div id="content_box">
			<p>
				Olá, somos o grupo Coletive.se, nossa proposta é levar a compra coletiva até o seu bairro,
				de maneira que você possa conhecer novos produtos e participar de incriveis promoções que estão realmente próximas a você,
				ajudando com isso a promover fornecedores locais que por sua vez ajudam no desenvolvimento de sua região.
			</p>
			<p>No momento ainda não iniciamos nossas operações, se você quiser ser avisado quando inicarmos, informe seu bairro e e-mail abaixo:</p>
			<center>
    		<div id="form">
    		  <%= form_for :interessado, :remote => true, :url => {:action => 'participar'} do |f| %>
    		  
    		    <div id="localidades">
      		    <%= f.check_box :lapa%> <%= f.label :lapa, "Lapa"%><br>
      		    <%= f.check_box :perdizes%> <%= f.label "Perdizes"%><br>
      		    <%= f.check_box :vila_leopoldina%> <%= f.label :vila_leopoldina, "Vila Leopoldina"%><br>
      		    <%= f.check_box :vila_madalena%> <%= f.label :vila_madalena, "Vila Madalena"%><br>
      		    <%= f.check_box :vila_romana%> <%= f.label :vila_romana, "Vila Romana"%><br>
      		    <%= f.check_box :outro%> <%= f.label "Outro"%> <%=f.text_field :qual, size: 30, :placeholder => "Digite aqui seu bairro.", :style => style="display:none;"%>
    		    </div>
    		    <%= f.email_field :email, size: 30, :placeholder => "Digite aqui seu email." %>
    		    <%= f.submit "Enviar", :class => 'fancy_button', :disable_with => "Aguarde..."%>
    		  <%end%>
    		</div>
			</center>
	
		</div> <!-- content_box -->
	  </div> <!-- content -->
    </div> <!-- main -->
	<div id="footer">
		<p>Coletive.se - São Paulo - Brasil</p>
		<p>desenvolvido por <a href="http://www.megon.com.br">Megon</a></p>
	</div>

  <script>
    $("#interessado_outro").click(function(){
      if ($("#interessado_outro:checked").val() == 1){
        $("#interessado_qual").fadeIn('fast');
      }
      else{
        $("#interessado_qual").fadeOut('fast');
      }

    });
  </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17302208-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>